<?xml version="1.0" encoding="utf-8" ?>

<cluster xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://www.darkriftnetworking.com/DarkRift2/Schemas/2.9.0/Cluster.config.xsd">
  <groups>
    <group name="Group1" visibility="external">
      <connectsTo name="Group2" />
    </group>
    
    <group name="Group2" visibility="internal" />
  </groups>
</cluster>
