<?xml version="1.0" encoding="utf-8" ?>
<!--
  Basic configuration for a DarkRift server.
  
  See http://www.darkriftnetworking.com/DarkRift2/Docs/ for reference documentation.
-->
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://www.darkriftnetworking.com/DarkRift2/Schemas/2.9.0/Server.config.xsd">
    <server maxStrikes="3" />

    <pluginSearch/>

    <logging>
        <logWriters>
            <logWriter name="ConsoleWriter1" type="ConsoleWriter" levels="trace, info, warning, error, fatal">
              <settings useFastAnsiColoring="false" />
            </logWriter>
        </logWriters>
    </logging>

    <plugins loadByDefault="false"/>

    <data directory="Data/"/>

    <listeners>
        <listener name="DefaultNetworkListener" type="BichannelListener" address="0.0.0.0" port="0">
            <settings noDelay="true" />
        </listener>
    </listeners>

    <cache
        maxCachedWriters="0"
        maxCachedReaders="0"
        maxCachedMessages="0"
        maxMessageBuffers="0"
        maxCachedSocketAsyncEventArgs="0"
        maxActionDispatcherTasks="0"
        maxAutoRecyclingArrays="0"
        maxExtraSmallMemoryBlocks="0"
        maxSmallMemoryBlocks="0"
        maxMediumMemoryBlocks="0"
        maxLargeMemoryBlocks="0"
        maxExtraLargeMemoryBlocks="0"
        />
</configuration>
