<?xml version="1.0" encoding="utf-8" ?>
<!--
  Basic configuration for a DarkRift server.
  
  See http://www.darkriftnetworking.com/DarkRift2/Docs/ for reference documentation.
-->
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://www.darkriftnetworking.com/DarkRift2/Schemas/2.9.0/Server.config.xsd">
  <server maxStrikes="3" />
  
  <pluginSearch/>
 
  <logging>
    <logWriters>
      <logWriter name="ConsoleWriter1" type="ConsoleWriter" levels="trace, info, warning, error, fatal">
        <settings useFastAnsiColoring="false" />
      </logWriter>
    </logWriters>
  </logging>

  <plugins loadByDefault="false">
    
  </plugins>

  <metrics enablePerMessageMetrics="true">
    <metricsWriter type="PrometheusEndpoint"/>
  </metrics>
  
  <data directory="Data/"/>

  <listeners>
    <listener name="DefaultNetworkListener" type="BichannelListener" address="0.0.0.0" port="0">
      <settings noDelay="true" />
    </listener>
  </listeners>
</configuration>
